---
http_interactions:
- request:
    method: get
    uri: https://authenticjobs.com/api/?api_key=c5e11c302cc0c345661fdf907946b5dc&format=json&keywords=ruby,rails&location=Philadelphia,PA&method=aj.jobs.search&page=0&perpage=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"listings":{"listing":[{"id":"25933","title":"Software Engineer","description":"<p>We
        are a design driven team of three founders, focused on impeccable user experience.
        Simplicity, quality, and care inform our decisions and processes. We believe
        in a collaborative, feedback-rich design process, and feel that great experiences
        can only come from teams who care deeply. This is the company we&rsquo;ve
        always wanted to exist. We share what this all means to us&nbsp;<a href=\"https:\/\/delighted.com\/blog\"
        target=\"_blank\">on our blog<\/a>.<br \/><br \/>You&rsquo;re a product minded
        software engineer who evaluates all of your work through the lens of user
        experience, regardless of which layer of the stack you&rsquo;re working in.
        You&rsquo;ve created a number of fully-formed software products that have
        been released into the wild. You believe that code is a means to an end, not
        the end itself.<br \/><br \/>Because the range of projects is diverse, we
        need a full-stack Rails engineer with experience working on a wide variety
        of products. You&rsquo;ll work on projects like: improving our natural language
        date range search, implementing integrations with 3rd party services, or working
        to improve the responsiveness and reliability of our API. You&rsquo;ll also
        work with the entire team in creating new customer-facing features, from idea,
        through prototype, to release and maintenance.\n<ul>\n<li>Our backend runs
        on Rails with MySQL, Redis, and Elasticsearch on AWS. You should have experience
        building scalable and maintainable services with Rails.<\/li>\n<li>Our front-end
        is built with CoffeeScript, SASS and HAML. You should have a deep understanding
        of HTML, CSS and Javascript.<\/li>\n<li>The glue between our front-end and
        back-end is HTTP, so you should have a thorough understanding of this part
        of the stack including: cookies, caching, AJAX, cross-domain sharing, security
        issues, etc.<\/li>\n<li>We write automated tests for all of our code. You
        should be passionate about testing since you know it&rsquo;s the only way
        to deliver high quality software.<\/li>\n<\/ul>\nWe&rsquo;d love for you to
        work with us in Palo Alto, but we&rsquo;re open to the right person, anywhere.<br
        \/><br \/>If you&rsquo;re interested, please send a link to your Github account
        and any products you&rsquo;ve worked on recently that you are particularly
        proud of. We prefer great work over resumes.<\/p>","perks":null,"howto_apply":"","post_date":"2015-10-13
        12:44:03","relocation_assistance":0,"telecommuting":1,"category":{"id":"2","name":"Back-end
        Development"},"type":{"id":"1","name":"Full-time"},"company":{"id":"delighted","name":"Delighted","url":"https:\/\/delighted.com","type":"1","location":{"id":"paloaltocacaus","name":"Palo
        Alto, CA, CA, US","city":"Palo Alto, CA","country":"US","lat":"37.4447","lng":"-122.161","state":"CA"},"logo":"http:\/\/www.authenticjobs.com\/logos\/delighted_1440183181.png","tagline":"The
        fastest and easiest way to gather actionable feedback"},"keywords":"work,should,have,experience,software,working,products,engineer,from,only,great,services,range,projects,your,means,rails,code,yoursquoll,through,understanding,yoursquore,user,stack,team,backend,design,care,quality,frontend","apply_email":"jobs@delighted.com","url":"http:\/\/www.authenticjobs.com\/jobs\/25933\/software-engineer"},{"id":"25651","title":"Full-Stack
        Web Devloper","description":"<p>Carney+Co. is looking for a full time, in-house
        web developer to join our growing creative team.<br \/><br \/><strong>Requirements<\/strong><br
        \/>\n<ul>\n<li>Experience with writing and shipping maintainable code which
        meets the needs of the user<\/li>\n<li>Enthusiasm for learning and adapting
        to new tools and techniques<\/li>\n<li>Excellent communication skills and
        ability to work effectively as part of a team<\/li>\n<li>Willingness and ability
        to work on a deadline in a fast-paced and challenging environment<\/li>\n<\/ul>\n&nbsp;<strong>Nice
        to Haves<\/strong><[...]
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&l=Philadelphia,PA&limit=25&publisher=<indeed_publisher>&q=ruby%20rails&radius=10&start=0&useragent=Mozilla//4.0(Firefox)&userip=127.0.0.1&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "\n\n {\n\n    \"version\" : 2,\n    \"query\" : \"ruby rails\",\n    \"location\"
        : \"Philadelphia,PA\",\n    \n    \"dupefilter\" : true,\n     \n    \"highlight\"
        : true,\n    \n    \"radius\" : 10,\n    \n    \"start\" : 1,\n    \"end\"
        : 25,\n    \"totalResults\" : 71,\n     \n    \"pageNumber\" : 0,\n    \n\n
        \   \"results\" : [\n        \n                {\n                    \"jobtitle\"
        : \"Ruby on Rails Developer\",\n                    \"company\" : \"Artech
        Information System LLC\",\n                    \"city\" : \"Philadelphia\",\n
        \                   \"state\" : \"PA\",\n                    \"country\" :
        \"US\",\n                    \"formattedLocation\" : \"Philadelphia, PA\",\n
        \                   \"source\" : \"Artech Information System LLC\",\n                    \"date\"
        : \"Wed, 07 Oct 2015 03:05:52 GMT\",\n                    \"snippet\" : \"Job
        Description Must have skills: Ruby/Rails, JavaScript, HTML5, CSS3, Full-Stack
        experience. Codes software applications to adhere to designs supporting\",\n
        \                   \"url\" : \"http://www.indeed.com/viewjob?jk=0e367b382151da49&qd=dbiWh_LzHK6bTV-fOfIZZy4W1XuyMuoLYvFaxaSvtiv2a75-iCCZh75WGCRthNM6C5JiBnYBmj4W8CSbRJzZUVasZ7TA9m_uIsktCMl6ASELB2pHYt-YP2NYagtBg9Lp&indpubnum=<indeed_publisher>&atk=1a1jev1495sknbbp\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '4422');\",\n                    \"jobkey\"
        : \"0e367b382151da49\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"Philadelphia, PA\",\n                    \"formattedRelativeTime\" : \"7
        days ago\"                \n}\n,\n                {\n                    \"jobtitle\"
        : \"Ruby On Rails Developer\",\n                    \"company\" : \"WebLinc\",\n
        \                   \"city\" : \"Philadelphia\",\n                    \"state\"
        : \"PA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"Philadelphia, PA\",\n                    \"source\" : \"WebLinc\",\n                    \"date\"
        : \[...]
- request:
    method: get
    uri: https://authenticjobs.com/api/?api_key=c5e11c302cc0c345661fdf907946b5dc&format=json&keywords=ruby,rails&location=Philadelphia,PA&method=aj.jobs.search&page=25&perpage=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"listings":{"listing":[],"total":3,"perpage":"25","page":"25","pages":1,"last_update":"2015-10-14T06:56:38-05:00"},"stat":"ok"}'
  recorded_at: Wed, 14 Oct 2015 15:23:09 GMT
[...]
